#optionsTitle {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    color: #73AD21;
    margin-bottom: 2em;
    padding: 0;
    height: 0px;
    overflow: visible;
}

#optionsForm {
    border-radius: 8px;
    border-size: 10px 20px 30px 40px;
    border: solid #73AD21;
    margin-top: 0px;
    padding-top: 0px;
}

#optionsForm div.entry {
    margin: 2px;
    padding: 4px;
}

#saveOptions {
    margin-left: 2em;
}
